<div id="header">
    <h1><a href="./">瓢城Web俱乐部</a></h1>
</div>
<div id="nav">
    <ul>
        {if isset($smarty.get.id)}
        <li><a href="./">首页</a></li>
        {else}
        <li><a href="./" class="strong">首页</a></li>
        {/if}
        {foreach $FrontTenNav as $key=>$value}
        {if isset($smarty.get.id)&&$smarty.get.id==$value->id}
        <li><a href="?a=list&id={$value->id}" class="strong">{$value->name}</a></li>
        {else}
        <li><a href="?a=list&id={$value->id}">{$value->name}</a></li>
        {/if}
        {/foreach}
    </ul>
</div>
<div id="search">

</div>