<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="view/default/style/basic.css">
    <link rel="stylesheet" href="view/default/style/list.css">
    <title>在线商城系统</title>
</head>
<body>
{include file='default/public/header.html'}
<div id="sait">
    当前位置: <a href="./">首页</a> &gt;<a href="###">女士服装</a> &gt;<a href="###">牛仔裤</a>
</div>
<div id="sidebar">
   <h2>女士服装</h2>
    <ul>
        <li><a href="###">牛仔裤<span class="gray">(1000)</span></a></li>
        <li><a href="###">牛仔裤<span class="gray">(1000)</span></a></li>
        <li><a href="###">牛仔裤<span class="gray">(1000)</span></a></li>
    </ul>
</div>
<div id="main">
    main
</div>
</body>
</html>