<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="view/admin/style/basic.css">
    <link rel="stylesheet" href="view/admin/style/login.css">
    <title>在线商城系统登陆</title>
</head>
<body>
<div id="login">
    <form method="post" name="login" action="?a=admin&m=login">
        <dl>
            <dd>管理员姓名:<input type="text" name="user" class="text" /></dd>
            <dd>管理员密码:<input type="password" name="pass" class="text" /></dd>
            <dd>验　证　码:<input type="text" name="code" style="text-transform:uppercase;"  class="text" /></dd>
            <dd class="code"><img src="?a=index&m=validateCode" title="看不清？点击刷新" onclick="javascript:this.src='?a=index&m=validateCode&tm='+Math.random()" /></dd>
            <dd><input type="submit" class="submit" name="send" value="进入管理中心" /></dd>
        </dl>
    </form>
</div>
</body>
</html>