@charset "UTF-8";
#sait{
    height: 36px;
    line-height: 36px;
    background: url(../images/sait_bg.png);
    border: 1px solid #C5E4FF;
    border-top: none;
    color: #333;
    padding: 0 0 0 15px;
}